@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    background-color: blueviolet;
    color: black;
    font-family: "Gravitas One", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
