@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    background-color: blueviolet;
    color: black;
    font-family: "DM Serif Display", serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
    font-size: 18px;
}
button{
    background-color: blue;
    color: black;
    padding: 20px;
}
main{
    text-align: center;
    max-width: 90%;
}
.img01{
    width: 75%;

}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}
